/* Estilo para todos los elementos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

/* Estilo para el cuerpo del documento */
body{
    overflow-x: hidden;
}

/* Clase para establecer el ancho máximo del contenido */
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

/* Clase para la sección principal de la página */
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Estilo para el encabezado de la página */
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/* Clase para el logotipo */
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

/* Estilo para el menú */
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
    display: none;
}

/* Estilo para los span dentro del menú */
nav .hamb span{
    display: block;
    background: #2ecc71;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}

/* Estilo para el segundo span dentro del menú */
nav .hamb span:nth-child(2){
    margin: 7px 0px;
}

/* Estilo para la lista del menú */
nav .nav-list{
    list-style: none;
}

/* Estilo para los elementos de la lista */
nav .nav-list li{
    display: inline-block;
}

/* Estilo para los enlaces dentro de la lista del menú */
nav .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

/* Estilo para los enlaces de la lista del menú excepto el último */
nav .nav-list li:not(:last-child) a:hover{
    color: #2ecc71;
    transition: .4s;
}

/* Estilo para el último elemento de la lista del menú */
nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid #2ecc71;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #2ecc71;
    font-weight: 500;
}


/* Estilo para el último elemento de la lista del menú al pasar el mouse */
nav .nav-list li.btn:hover a{
    background: #2ecc71;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}

/*aqui inicia el texto*/
.about{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .main img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}

.main{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.all-text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #eee;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1{
    font-size: 65px;
    color: #2ecc71;
    font-weight: 700;
    margin-bottom: 20px;
}

.all-text p{
    font-family: 'Roboto', sans-serif;
     font-size: 16px;
     color: #eee;
     line-height: 22px;
     margin-bottom: 35px;
}

.bttn button{
    background: #eee;
    padding: 20px 32px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0px 16px 32px 0px rgba(255, 255, 255, 0.541);
    margin-right: 20px;
    margin-bottom: 20px;
}

.bttn button:hover{
    background-color: #2ecc71;
    color: white;
    transition: .4s;
    cursor: pointer;
}

.bttn .bttn2{
    background: black;
    color: #eee;
}

@media screen and (max-width: 1250px){
    .about{
        width: 100%;
        height: auto;
    }

    .all-text{
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px){
    .about .main img{
        margin-bottom: 20px;
    }

    .all-text h1{
        font-size: 45px;
        margin-bottom: 10px;
    }
}

/*responsive del navbar*/
@media screen and (max-width: 930px) {
    nav .hamb{
        display: initial;
    }

    .click{
        top: 46px;
    }

    .click span{
        position: absolute;
        margin-top: 12px;
    }

    .click span:first-child{
        transform: rotate(-40deg);
    }

    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(40deg);
        top: 0;
    }

    nav .nav-list{
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 60%;
        height: 50%;
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .nav-list li{
        display: block;
    }

    nav .nav-list li a{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }

    nav .nav-list li.btn a{
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }

    nav .nav-list.open{
        right: 0;
    }
}